<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>*** \(%logger{30}\)%green(%X{debugId}) %msg%n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="BatchParserCmd" level="info" />
    <logger name="GoogleGeocoder" level="info" />
    <logger name="DB" level="info" />
    <logger name="scala.slick" level="info" />
</configuration>